<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>paging</h2>

<button onclick="editReq()">글작성</button>

<table>
  <tr>
    <th>번호</th>
    <th>제목</th>
<!--    <th>writer</th>-->
    <th>작성일</th>
    <th>조회</th>
  </tr>
  <tr th:each="board: ${boardList}">
    <td th:text="${board.id}"></td>
    <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.boardTitle}"></a></td>
<!--    <td th:text="${board.boardWriter}"></td>-->
    <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${board.boardHits}"></td>
  </tr>
</table>


<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 -->
<a th:href="@{/board/paging(page=1)}"><<</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}"><</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == boardList.number + 1}">
        <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">></a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/board/paging(page=${boardList.totalPages})}">>></a>

</body>
<script>
    const editReq = () => {
        location.href = "/board/edit";
    }

    const listReq = () => {
        location.href = "/board/";
    }

    const pagingReq = () => {
        location.href = "/board/paging";
    }

</script>
</html>

<!--<a href="/user/">userDB</a> <br><br>-->
<!--<a href="/user/update">내 정보 수정</a>-->


<!--&lt;!&ndash; 로그인하지 않은 사용자의 경우 &ndash;&gt;-->
<!-- <div th:if="${session.userId == null} ">-->
<!--   <button onclick="loginReq()">로그인</button>-->
<!--   <button onclick="signupReq()">회원가입</button>-->
<!-- </div>-->

<!--&lt;!&ndash; 로그인한 사용자의 경우 &ndash;&gt;-->
<!--  <div th:if="${session.userId != null}">-->
<!--    <p th:if="${session.userName}" th:text="|${session.userName}님이 로그인 중입니다.|">-->
<!--      <a href="/user/logout">로그아웃</a>-->
<!--    </p>-->
<!--  </div>-->

<!--<div class="input-group mb-3">-->
<!--  <span class="input-group-text">@</span>-->
<!--  <div class="form-floating">-->
<!--    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">-->
<!--    <label for="floatingInputGroup1">Username</label>-->
<!--  </div>-->
<!--</div>-->

<!--const loginReq = () => {-->
<!--location.href = "/user/login";-->
<!--}-->
<!--const signupReq = () => {-->
<!--location.href = "/user/signup";-->
<!--}-->